http://dblp.uni-trier.de/db/conf/sigsoft/
http://dblp.uni-trier.de/db/conf/oopsla/
http://dblp.uni-trier.de/db/conf/icse/
http://dblp.uni-trier.de/db/conf/osdi/
http://dblp.uni-trier.de/db/conf/pldi/
http://dblp.uni-trier.de/db/conf/popl/
http://dblp.uni-trier.de/db/conf/sosp/
http://dblp.uni-trier.de/db/conf/kbse/